<h1>Instruments</h1>
<br />
<h3>Welcome <%= current_user.first_name %></h3>
<h4>Your Instruments:</h4>
<%= link_to 'Add Instrument', new_instrument_path %>
<ul>
<li>
<% @instruments.each do |instrument| %>
  <%= instrument.name %><br />
  <%= link_to 'Edit', edit_instrument_path(instrument) %> | 
  <%= link_to 'Remove', instrument_path(instrument), method: :delete %><br />
<% end %>
</li>
</ul>
